QGroupBox {
    border:1px solid gray;
    border-radius:2px;
    margin-top: 1ex;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position:top left;
    padding:0 3px;
    left: 10px;
}

QTreeWidget {
    font-size: 12px;
}

QTreeWidget QHeaderView {
    font-size: 12px;
}
